.wrapper {
    width: 100vw;
    height: 100vh;
    background: skyblue;
}
.wrapper div {
    float:right;
    width: 25vw;
    height: 25vh;
}

.left-col-1 {
    position:relative;
    right: 25vw;
}
.right-col-1 {
    position:relative;
    left: 25vw;
}
.top-col-1 {
    position:relative;
    bottom: 25vh;
}
.bottom-col-1 {
    position:relative;
    top: 25vh;
}

.left-col-2 {
    position:relative;
    right: 50vw;
}
.right-col-2 {
    position:relative;
    left: 50vw;
}
.top-col-2 {
    position:relative;
    bottom: 50vh;
}
.bottom-col-2 {
    position:relative;
    top: 50vh;
}

.left-col-3 {
    position:relative;
    right: 75vw;
}
.right-col-3 {
    position:relative;
    left: 75vw;
}
.top-col-3 {
    position:relative;
    bottom: 75vh;
}
.bottom-col-3 {
    position:relative;
    top: 75vh;
}