
html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.8rem;
    line-height: 1.5;
    background: skyblue;
}

.tdl-container {
    width: 60%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.tdl-heading {
    font-size: 4rem;
    color: #fff;
    text-align: center;
}

.tdl-form {
    position: relative;
    padding-top: 40px;
}

.tdl-input-wrapper {
    position: relative;
}

.tdl-text, .tdl-check-label {
    display: inline-block;
    font-size: inherit;
    line-height: 2;
    border: 0;
    border-radius: 3px;
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    padding-left: 10px;
    width: 100%;
}

.btn-tdl-add, .btn-tdl-del {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 5px;
    font-size: inherit;
    width: calc(1.8rem * 1.7);
    padding: 0;
    padding-top: calc(1.8rem * 1.7);
    height: 0;
    border: 0;
    /*circle(4px at 4px 4px);*/
    clip-path: circle(calc(1.8rem * 1.7/ 2) at calc(1.8rem * 1.7 / 2) calc(1.8rem * 1.7/ 2));
    background: #d1cfcf;
    overflow: hidden;
    cursor: pointer;
}
.btn-tdl-del {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.btn-tdl-del.active, .btn-tdl-del:focus {
    opacity: 1;
}
.btn-tdl-add:focus, .btn-tdl-del:focus {
    outline: none;
}
.btn-tdl-add:focus::before, .btn-tdl-del:focus::before,
.btn-tdl-add:hover::before, .btn-tdl-del:hover::before{
    color: #000;
}
.btn-tdl-add::before, .btn-tdl-del::before {
    position: absolute;
    content: '+';
    font-size: 3rem;
    color: #fff;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
}

.btn-tdl-del::before {
    top: 7px;
    content: '‾';
}

.alert-message {
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    padding: 3px 10px;
    border-radius: 5px;
    transition: all 1s ease-in-out;
    font-size: 1.5rem;
    display: none;
}
.alert-message.active {
    display: block;
}

.tdl-list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.tdl-list-item {
    position: relative;
    margin: 10px 0;
}

.tdl-list-item [type="checkbox"]:checked+label {
    background: gray;
    opacity: 0.4;
}


.btn-del-selected {
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    border: 0;
    font-size: inherit;
    font-family: inherit;
    color: #fff;
    cursor: pointer;
}

.a11y-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
}

.alert-container {
    position
}