/*! init.css @ 2017, yamoo9.net */

html {
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.4rem; /* 14px */
  line-height: 1.5;  /* 21px */
  font-family: $base-font-family;
  color: $base-color;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

legend {
  @extend .a11y-hidden;
}